################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DDNS.Core/bin
/DDNS.Core/obj
/.vs/DDNS.Core
